In [1]:
from bs4 import BeautifulSoup as bs
import requests

In [2]:
product_name=input("Enter Your Product: ")

Enter Your Product: iphone

In [3]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

In [4]:
url="https://www.flipkart.com/search?q={}".format(product_name)
scrap=requests.get(url,headers=headers).text
mainpage=bs(scrap)
page=mainpage.find_all("div",class_="_2MImiq")[0].find("span").text
pages=int(page.split()[-1])

In [116]:
name=[]
price=[]
links=[]
prod_page=[]
prodrev_pageno=[]
dis=[]
product_page_no=[]

#rev_link=[]

for i in range(1,pages):
    url="https://www.flipkart.com/search?q={}&page={}".format(product_name,i)
    scrap=requests.get(url).text
    webpage=bs(scrap)
    for j in webpage.find_all("div",class_="_4rR01T"):
        name.append(j.text)
            
    for k in webpage.find_all("div",class_="_30jeq3 _1_WHN1"):
        price.append(k.text)
    
    for l in webpage.find_all("a",class_="_1fQZEK"):
        links.append("https://www.flipkart.com"+l.get("href"))
        
    for m in webpage.find_all("div",class_="fMghEO"):
        dis.append(m.text)

In [150]:
rating=[]
star5=[]
star4=[]
star3=[]
star2=[]
star1=[]
review=[]
star=[]
Product_page_no=[]

for i in links:
    a=i.replace("/p/","/product-reviews/")
    prod_page.append(a)
#here instead of for i in prod_page i'm puting range(0,2) for processing issue
for i in range(0,10):
    #print(prod_page[i])
    sc=requests.get(prod_page[i],headers=headers).text
    #print(sc)
    pg=bs(sc).find_all("div" ,class_="_2MImiq _1Qnn1K")[0].find("span").text
    Product_page_no.append(int(pg.replace(",","").split()[-1]))
#here instead of for i in prod_page_no i'm puting range(0,2) for processing issue
for i in range(0,10):
    url=str(prod_page[i])+ "&page={}".format(i)
    sc=requests.get(url,headers=headers).text
    #total rating
    rate=bs(sc).find_all("div",class_="row _2afbiS")[0].find("span").text
    rating.append(rate.split()[0])
    #1,2,3,4,5 star ratings
    star_5=bs(sc).find_all("div",class_="_1uJVNT")[0].text
    star5.append(star_5)
    star_4=bs(sc).find_all("div",class_="_1uJVNT")[1].text
    star4.append(star_4)
    star_3=bs(sc).find_all("div",class_="_1uJVNT")[2].text
    star3.append(star_3)
    star_2=bs(sc).find_all("div",class_="_1uJVNT")[3].text
    star2.append(star_2)
    star_1=bs(sc).find_all("div",class_="_1uJVNT")[4].text
    star1.append(star_1)
    #total review
    rev=bs(sc).find_all("div",class_="row _2afbiS")[1].find("span").text
    review.append(rev.split()[0])
    #average rating
    avg_star=bs(sc).find_all("div",class_="col-12-12 _1azcI6")[0].find("div").text
    star.append(avg_star)

In [155]:
d={"name":name,"price":price,"link":links,"discription":dis}
r={"Total Rating":rating,"Average Rating":star,"5 Star Rating":star5,"4 Star Rating":star4,"3 Star Rating":star3,"2 Star Rating":star2,"1 Star Rating":star1,"Total Reviews":review}

In [156]:
import pandas as pd
da=pd.DataFrame(d)
da

,name,price,link,discription
0,"APPLE iPhone 13 (Midnight, 128 GB)","₹61,999",https://www.flipkart.com/apple-iphone-13-midni...,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
1,"APPLE iPhone 13 (Pink, 128 GB)","₹61,999",https://www.flipkart.com/apple-iphone-13-pink-...,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
2,"APPLE iPhone 13 (Green, 128 GB)","₹61,999",https://www.flipkart.com/apple-iphone-13-green...,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
3,"APPLE iPhone 13 (Blue, 128 GB)","₹61,999",https://www.flipkart.com/apple-iphone-13-blue-...,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
4,"APPLE iPhone 13 (Starlight, 128 GB)","₹61,999",https://www.flipkart.com/apple-iphone-13-starl...,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
...,...,...,...,...
403,"APPLE iPhone 12 Pro Max (Silver, 512 GB)","₹1,23,299",https://www.flipkart.com/apple-iphone-12-pro-m...,512 GB ROM17.02 cm (6.7 inch) Super Retina XDR...
404,"Apple iPhone XR (Coral, 128 GB) (Includes EarP...","₹41,699",https://www.flipkart.com/apple-iphone-xr-coral...,128 GB ROM15.49 cm (6.1 inch) Display12MP Rear...
405,"APPLE iPhone 12 Pro Max (Graphite, 512 GB)","₹1,23,299",https://www.flipkart.com/apple-iphone-12-pro-m...,512 GB ROM17.02 cm (6.7 inch) Super Retina XDR...
406,"APPLE iPhone 12 Pro Max (Pacific Blue, 128 GB)","₹95,599",https://www.flipkart.com/apple-iphone-12-pro-m...,128 GB ROM17.02 cm (6.7 inch) Super Retina XDR...
407,"APPLE iPhone 6s (Rose Gold, 64 GB)","₹72,000",https://www.flipkart.com/apple-iphone-6s-rose-...,64 GB ROM11.94 cm (4.7 inch) Retina HD Display...

In [157]:
da1=pd.DataFrame(r)
da1

,Total Rating,Average Rating,5 Star Rating,4 Star Rating,3 Star Rating,2 Star Rating,1 Star Rating,Total Reviews
0,"2,02,142",4.7,"1,63,161","25,171","4,868","2,103","6,839","10,955"
1,"2,02,142",4.7,"1,63,161","25,171","4,868","2,103","6,839","10,955"
2,"2,02,142",4.7,"1,63,161","25,171","4,868","2,103","6,839","10,955"
3,"2,02,142",4.7,"1,63,161","25,171","4,868","2,103","6,839","10,955"
4,"2,02,142",4.7,"1,63,161","25,171","4,868","2,103","6,839","10,955"
5,"1,91,140",4.6,"1,50,336","24,400","6,223","2,597","7,584","11,062"
6,"1,91,140",4.6,"1,50,336","24,400","6,223","2,597","7,584","11,062"
7,"29,215",4.6,"23,910","3,032",708,397,"1,168","1,128"
8,"29,215",4.6,"23,910","3,032",708,397,"1,168","1,128"
9,"29,215",4.6,"23,910","3,032",708,397,"1,168","1,128"

In [132]:
import pymongo
db = pymongo.MongoClient("mongodb://localhost:27017/")
db1=db["Products"]
col=db1[product_name]

In [133]:
db2= db['product Review Page']
col2=db2[]